html {
    margin: 0;
    min-height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto', arial;
}
button:hover {
    color: #000;
    background-color: white;
    border-color: white;
}
/*Header Part*/
.header-bar {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    border-bottom: .15em solid white;
}
.header-bar a{
    text-decoration: none;
    color: #F9FAF8;
}
.header-left {
    margin: .75rem 0 .75rem 2rem;
    font-size: 1.5rem;
    width: 30rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-right {
    margin-right: 2rem;
    width: 40rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/*Hero Part*/
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 2rem 5rem 2rem;
}
.hero-left {
    flex-basis: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-left .contact-button {
    width: auto;
    height: auto;
    padding: .5rem;
    font-size: 1.125rem;
    border: .15em solid white;
    border-radius: .5em;
    background-color: #3882F6;
    color: white;
    text-decoration: none;
}
.hero-left .contact-button:hover {
    color: black;
    background-color: white;
    border-color: #3882F6;
}
.hero-right {
    flex-basis: 25rem;
    padding-left: 3rem;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-right img {
    width: 35vw;
}
/*Information Part*/
.information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.information-container img {
    border: .15em solid blue;
    border-radius: .5em;
    width: 10vw;
    height: 10vw;
}
.information-header {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.information-content {
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
/* Quote Part */
.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
}
.quote-content {
    padding: 2.5rem 2.5rem 0;
    width: auto;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}
.quote-writer {
    margin-bottom: 2.5rem;
    padding-right: 5rem;
    width: auto;
    font-size: 1.125rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
/* Call to Action Part */
.calltoaction-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #F9FAF8;
}
.calltoaction-content {
    border: .15em solid whitesmoke;
    border-radius: .5em;
    width: auto;
    margin: 3.125rem 12.5rem;
    padding: .625rem 5rem;
    display: flex;
    align-items: center;
    background-color: #3882F6;
}
.calltoaction-left {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-right: 2.5rem;
}
.calltoaction-right {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calltoaction-right .coffee-button {
    width: auto;
    height: auto;
    padding: .5rem;
    font-size: 1.125rem;
    border: .15em solid white;
    border-radius: .5em;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #3882F6;
    color: white;
    text-decoration: none;
}
.calltoaction-right .coffee-button:hover{
    color: black;
    background-color: white;
    border-color: #3882F6;
}
/*Footer Part*/
.footer-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}
.footer-container{
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}